
.header {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #3F3A36;
    text-shadow: 1px 1px 0 black;
    text-align: center;
}

body {
    background-color: #F9F8F6;
    height: 100vh;
}

#chatDiv {
    margin-left: auto;
    margin-right: auto;
    background-color: #EFE9E3;
    height: 80%;
    width: 70%;
    border-radius: 4px;
}
#inputDiv {
    position: relative;
}
#form {
    position:absolute;
    top: 420px;
    margin-left: 120px;
}
#userInput{
    width: 400px;

}